.userPhoto {
    width: 70px;
}

.pages_block{
    font-size: 25px;
    padding: 10px;
}

.pages{
    padding: 1px 8px 1px 8px;
    border: 4px outset #d2691e;
    cursor: pointer;
}

.userName{
    white-space: nowrap;
}

.currentPage {
    padding: 1px 8px 1px 8px;
    font-weight: bold;
    border: 4px double gold;
}

.users{
    display: flex;
    width: 1200px;
    flex-wrap: wrap;

}

.user{
    display: inline-block;
    width: 100px;
    height: 200px;
}