.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.dialogsItem {
    padding: 5px;
    color: white;
}

.dialogsItem .active {
    color:gold;
}

.messages {
    padding: 10px;
}

.message {

}